body {
    background-color: rgba(255, 255, 255, 0.8);
    /* Sets the background color with opacity */
    margin: 0;
    /* Reset default margin */
}

.node-container {
    display: flex;
    /* Use flex layout */
    flex-direction: column;
    /* Stack children vertically */
    height: 100vh;
    /* Set to full viewport height */
    padding: 0;
    /* Remove default padding */
}

.node-container #graph-container {
    position: relative;
    /* Position the graph container relative for absolute positioning of elements inside it */
    flex: 1;
    /* Take up remaining space */
    width: 100%;
    /* Ensure full width */
    height: calc(100% - 40px);
    /* Set height to 100% minus height of controls */
    overflow: hidden;
    /* Hide overflow to prevent resizing */
}

.node-container #selected-nodes {
    position: absolute;
    /* Position selected nodes container absolutely */
    top: 0;
    /* Adjust top position as needed */
    left: 50%;
    /* Adjust left position as needed */
    transform: translateX(-50%);
    /* Center horizontally */
    z-index: 3;
    /* Ensure it's above other elements */
    background-color: rgba(255, 255, 255, 0.8);
    /* Sets background color with opacity */
    padding: 10px;
    border: 1px solid #ccc;
}

.node-container #graph-container .node-controls {
    position: absolute;
    /* Position controls absolutely */
    top: 0;
    /* Position at the top */
    right: 10px;
    /* Adjust right spacing */
    z-index: 2;
    /* Ensure it's above other elements, under selected nodes */
    padding: 10px;
}

.node-container #graph-container .search-container {
    border-radius: 10px;
    /* Rounded corners for the search container */
    border-width: 2px;
    /* Border width */
    border-style: solid;
    /* Solid border style */
    color: #222a2a;
    /* Text color */
    overflow: hidden;
    /* Hide overflow content */
    height: 34px;
    /* Fixed height */
}

.node-container #graph-container input {
    color: #222a2a;
    /* Text color */
    border: none;
    /* No border */
    height: 34px;
    /* Fixed height */
    padding: 0 10px;
    /* Padding on the sides */
    background-color: rgba(255, 255, 255, 0.8);
    /* Background color with opacity */
}